@import "tailwindcss";




@theme{
  --color-text-white:#ffffff7f
  --color-text-Primary:#0052AA;
  --color-text-secondary:#39557E;
  --color-button-pink:#CA6363;
  --color-border-grey:#E0E0E0;
}



@keyframes sheep-move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1500px); 
  }
}

.animate-sheep {
  animation: sheep-move 3s linear forwards;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}


@keyframes blink {
  0%, 100% { border-color: transparent; }
  50% { border-color: #3b82f6; } 
}

.animate-blink {
  animation: blink 1s linear;
}